{% extends "layout.html" %}

{% block title %}
    Gallineros
{% endblock %}

{% block style %}
  .titleh1{
     padding-bottom: 50px;
  }
  .titleh2{
    padding: 20px;
  }
{% endblock %}

{% set active_page = "./gallineros.html" %}

{% block body %}

    {% if warning %}
        <div class="alert alert-danger" role="alert">
            <center>{{message}}</center>
        </div>
    {% endif %}

    <h1 class="titleh1">Gallineros</h1>

    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- colores primary | info | success | warning | danger | rose. -->
            <div class="card-header card-header-info">
              <h4 class="card-title ">Nuevo o actualizar:</h4>
              <p class="card-category"> Actualizar por descripción de gallinero </p>
            </div>
            <div class="card-body">

               <form action="/gallineros.html" method="post">
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                         <center>
                           <label for="name">Descripción</label>
                           <input autocomplete="off" autofocus type="text" class="form-control" id="name" name="name">
                         </center>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <center>
                             <label for="chickens">Gallinas:</label>
                             <input type="number" id="chickens" name="chickens" step="1" class="form-control" placeholder="0">
                          </center>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                            <center>
                              <label for="roosters">Gallos:</label>
                              <input type="number" id="roosters" name="roosters" step="1" class="form-control" placeholder="0">
                            </center>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <center>
                            <button type="submit" class="btn btn-warning">Actualizar</button>
                          </center>
                        </div>
                      </div>
                    </div>
                </form>

            </div>
          </div>
        </div>
    </div>

    <h2 class="titleh2"></h2>

    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- colores primary | info | success | warning | danger | rose. -->
            <div class="card-header card-header-rose">
              <h4 class="card-title ">Gallineros disponibles</h4>
              <p class="card-category"></p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-warning">
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Gallinas</th>
                    <th>Gallos</th>
                  </thead>
                    {% for item in coop %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.chickens}}</td>
                        <td>{{item.roosters}}</td>
                    </tr>
                    {% endfor %}
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!--Eliminar-->
    <h2 class="titleh2"></h2>
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- colores primary | info | success | warning | danger | rose. -->
            <div class="card-header card-header-danger">
              <h4 class="card-title ">Eliminar:</h4>
              <p class="card-category"> </p>
            </div>
            <div class="card-body">

                <form action="/delete_gall" method="post">
                    <div class="row">

                      <div class="col">
                        <div class="form-group">
                          <center>
                             <label for="gall_id">ID Gallinero</label>
                             <input type="number" id="gall_id" name="gall_id" step="1" class="form-control">
                          </center>
                        </div>
                      </div>

                      <div class="col">
                        <div class="form-group">
                          <center>
                            <button type="submit" class="btn btn-warning">Eliminar</button>
                          </center>
                        </div>
                      </div>
                    </div>
                </form>

            </div>
          </div>
        </div>
    </div>

{% endblock %}