{% extends "layout.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block style %}
  .titleh1{
     padding-bottom: 50px;
  }
  .titleh2{
    padding: 20px;
  }
{% endblock %}

{% set active_page = "./index.html" %}

{% block body %}

    <h1 class="titleh1">Principal</h1>

    <!-- Agregar-->
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- colores primary | info | success | warning | danger | rose. -->
            <div class="card-header card-header-warning">
              <h4 class="card-title ">Agregar Huevos:</h4>
              <p class="card-category"> </p>
            </div>
            <div class="card-body">

              <form action="/" method="post">
                <div class="row">
                  <div class="col">
                    <center>
                      <label for="points">Ingresar Cantidad:</label>
                      <input type="number" id="points" name="points" step="1" class="form-control">
                    </center>
                  </div>
                  <div class="col">
                    <center>
                      <button type="submit" class="btn btn-warning">Actualizar</button>
                    </center>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
    </div>

    <h2 class="titleh2"></h2>
    <!-- Huevos-->
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- colores primary | info | success | warning | danger | rose. -->
            <div class="card-header card-header-info">
              <h4 class="card-title ">Huevos:</h4>
              <p class="card-category"> </p>
            </div>
            <div class="card-body">

              <div class="row">
                <!-- Etiqueta 1 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">whatshot</i>
                      </div>
                      <p class="card-category">Huevos Día:</p>
                      <h3 class="card-title"> {{eggs[0]}}
                        <small>Huevos</small>
                      </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">notifications_active</i> Cantidad del día
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Etiqueta 2 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">whatshot</i>
                      </div>
                      <p class="card-category">Huevos Mes:</p>
                      <h3 class="card-title"> {{eggs[1]}}
                        <small>Huevos</small>
                      </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">notifications_active</i> Cantidad del mes en vigencia
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Etiqueta 3 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">whatshot</i>
                      </div>
                      <p class="card-category">Prom Mes:</p>
                      <h3 class="card-title"> {{eggs[2]}}
                        <small>Huevos</small>
                      </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">notifications_active</i> Promedio huevos al mes en vigencia
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Etiqueta 4 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">whatshot</i>
                      </div>
                      <p class="card-category">Total:</p>
                      <h3 class="card-title">{{eggs[3]}}
                        <small>Huevos</small>
                      </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">notifications_active</i> Total
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>

    <h2 class="titleh2"></h2>
    <!-- Animales-->
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- colores primary | info | success | warning | danger | rose. -->
            <div class="card-header card-header-primary">
              <h4 class="card-title ">Animales:</h4>
              <p class="card-category"> </p>
            </div>
            <div class="card-body">

              <div class="row">
                <!-- Etiqueta 1 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">whatshot</i>
                      </div>
                      <p class="card-category">Gallineros:</p>
                      <h3 class="card-title"> {{anim[0]}}
                        <small>Gallinas</small>
                      </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">notifications_active</i> Cantidad de gallinas en gallineros
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Etiqueta 2 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">whatshot</i>
                      </div>
                      <p class="card-category">Ponederos:</p>
                      <h3 class="card-title"> {{anim[1]}}
                        <small>Gallinas</small>
                      </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">notifications_active</i> Cantidad del gallinas en ponederos
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Etiqueta 3 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">whatshot</i>
                      </div>
                      <p class="card-category">Total Gallinas:</p>
                      <h3 class="card-title"> {{anim[2]}}
                        <small>Gallinas</small>
                      </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">notifications_active</i> Total gallinas
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Etiqueta 4 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">whatshot</i>
                      </div>
                      <p class="card-category">Gallos:</p>
                      <h3 class="card-title">{{anim[3]}}
                        <small>Gallos</small>
                      </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">notifications_active</i> Total de gallos
                      </div>
                    </div>
                  </div>
                </div>

                 <!-- Etiqueta 5 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">whatshot</i>
                      </div>
                      <p class="card-category">Incubadoras:</p>
                      <h3 class="card-title">{{anim[4]}}
                        <small>Huevos</small>
                      </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">notifications_active</i> Total huevos en incubadoras
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
    </div>

    <h2 class="titleh2"></h2>
    <!-- Finanzas-->
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- colores primary | info | success | warning | danger | rose. -->
            <div class="card-header card-header-success">
              <h4 class="card-title ">Finanzas:</h4>
              <p class="card-category"> </p>
            </div>
            <div class="card-body">

              <div class="row">
                <!-- Etiqueta 1 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">whatshot</i>
                      </div>
                      <p class="card-category">Ventas Mes:</p>
                      <h3 class="card-title"> {{finan[0]}}
                        <small>Huevos</small>
                      </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">notifications_active</i> Cantidad del huevos vendidos en el mes
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Etiqueta 2 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">whatshot</i>
                      </div>
                      <p class="card-category">Ventas Mes:</p>
                      <h3 class="card-title"> <b>$</b> {{finan[1]}}
                        <small></small>
                      </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">notifications_active</i> Ventas del mes
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Etiqueta 3 -->
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                  <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">whatshot</i>
                      </div>
                      <p class="card-category">Costos Mes:</p>
                      <h3 class="card-title"><b>$</b> {{finan[2]}}
                        <small></small>
                      </h3>
                    </div>
                    <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">notifications_active</i> Costos del Mes
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
    </div>

{% endblock %}