{% extends "layout.html" %}

{% block title %}
    Ventas
{% endblock %}

{% block style %}
  .titleh1{
     padding-bottom: 50px;
  }
  .titleh2{
    padding: 20px;
  }
{% endblock %}

{% set active_page = "./ventas.html" %}

{% block body %}

    {% if warning %}
        <div class="alert alert-danger" role="alert">
            <center>{{message}}</center>
        </div>
    {% endif %}

    <h1 class="titleh1">Ventas</h1>

    <!--Ingresar Ventas-->
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- colores primary | info | success | warning | danger | rose. -->
            <div class="card-header card-header-success">
              <h4 class="card-title ">Ingresar</h4>
              <p class="card-category"> </p>
            </div>
            <div class="card-body">

                <form action="./ventas.html" method="post">
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                         <center>
                           <label for="name">Descripción</label>
                           <input autocomplete="off" autofocus type="text" class="form-control" id="name" name="name">
                         </center>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <center>
                              <label for="quantity">Cantidad</label>
                                <input list="options" name="quantity" id="quantity" class="form-control" placeholder="0">
                                <datalist id="options">
                                    <option value="6">
                                    <option value="12">
                                    <option value="24">
                                    <option value="30">
                                </datalist>
                          </center>
                        </div>
                      </div>
                      <div class="col">

                        <div class="form-group">
                            <center>
                              <label for="unitary">Precio unitario</label>
                                <input list="unit" name="unitary" id="unitary" class="form-control" placeholder="0">
                                <datalist id="unit">
                                    {% for item in prices %}
                                        <option value={{item.un_price}}>
                                    {% endfor %}
                                </datalist>
                            </center>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                            <center>
                              <label for="desc">Descuento</label>
                              <input type="number" id="desc" name="desc" step="1" class="form-control" placeholder="0">
                            </center>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-group">
                          <center>
                            <button type="submit" class="btn btn-warning">Actualizar</button>
                          </center>
                        </div>
                      </div>
                    </div>
                </form>

            </div>
          </div>
        </div>
    </div>

    <!--Tabla-->
    <h2 class="titleh2"></h2>
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- colores primary | info | success | warning | danger | rose. -->
            <div class="card-header card-header-info">
              <h4 class="card-title ">Ventas</h4>
              <p class="card-category"> </p>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-warning">
                  <tr>
                    <th>ID</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Valor Unitario</th>
                    <th>Descuento</th>
                    <th>Total</th>
                    <th>Fecha</th>
                  </tr>
                  </thead>
                  <tfoot>
                  <tr class="text-warning">
                    <td ><b>Total:</b> </td>
                    <td colspan="1"></td>
                    <td><b>{{total[0]}}</b></td>
                    <td colspan="2"></td>
                    <td><b>{{total[1]}}</b></td>
                  </tr>
                  </tfoot>
                  <tbody>
                    {% for item in sales %}
                    <tr>
                        <td>{{item.id}}</td>
                        <td>{{item.item}}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{item.un_income}}</td>
                        <td>{{item.desc}}</td>
                        <td>{{item.income}}</td>
                        <td>{{item.date}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>

                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!--Eliminar-->
    <h2 class="titleh2"></h2>
    <div class="row">
        <div class="col-md-12">
          <div class="card">
            <!-- colores primary | info | success | warning | danger | rose. -->
            <div class="card-header card-header-danger">
              <h4 class="card-title ">Eliminar</h4>
              <p class="card-category"> </p>
            </div>
            <div class="card-body">

                <form action="/delete_sale" method="post">
                    <div class="row">

                      <div class="col">
                        <div class="form-group">
                          <center>
                             <label for="sale_id">ID Venta</label>
                             <input type="number" id="sale_id" name="sale_id" step="1" class="form-control">
                          </center>
                        </div>
                      </div>

                      <div class="col">
                        <div class="form-group">
                          <center>
                            <button type="submit" class="btn btn-warning">Eliminar</button>
                          </center>
                        </div>
                      </div>
                    </div>
                </form>

            </div>
          </div>
        </div>
    </div>


{% endblock %}